@charset "UTF-8";
html {
	height: 100%;
}
/* Body */
body {
	/*font-family: source-sans-pro;*/
	font-family: 'Avenir Next', arial,source-sans-pro,'Noto Sans Japanese';
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	height: 100%;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: #FFFFFF;
}
.content {
  /*display: flex;*/
  padding: 0px 0;
	height: 100%;
}

.main {
  /*flex: 1 0 auto;*/
  align-items: center;
  justify-content: center;
	height: auto;
  min-height: 100%;
	width: calc(100% - 200px);
	margin-left: 200px;
  background: #FFFFFF;
	overflow: visible;
  /*background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%);*/
	/*overflow: scroll;*/
}
.side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  color: #000000;
  background: #ffffff;
}
.container_main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: #FFFFFF;
	float: right;
	overflow: scroll;
}
/* Navigation */
header {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	text-align: center;
}
header a {
	text-decoration: none;
}
.clearfix{
	height: 100%;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
.header-logo-div {
	height: 200px;
	width: 200px;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 30px;
}
.logo {
	color: #000000;
	font-weight: bold;
	text-align: undefined;
	width: 100%;
	margin-top: 15px;
	margin-left: 0px;
	letter-spacing: 1px;
}
.logo_favicon {
	color: #fff;
	text-align: center;
	height: 50px;
	width: 100%;
}
.logo_favicon img  {
	height: 100%;
	width: auto;
}
.nav-div{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 20%;
}
nav {
	width: 100%;
	/*height: calc(100%-200px);*/
}
header nav ul {
	padding: 0px;
	list-style: none;
}
nav ul li {
	color: #000000;
	font-size: 20px;
	width: calc(100%-40px);
	text-align: left;
	margin-right: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 10px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 0.2s linear;
}
.nav-list-smalltext {
	font-size: 12px;
}
/*ul li a {
	color: #000000;
	text-decoration: none;
}*/
ul a:hover li {
	color: #2C9AB7;
	border-right: solid;
	border-right-color: #000000;
	border-right-width: thick;
}
ul a.current li  {
	color: #2C9AB7;
	border-right: solid;
	border-right-color: #000000;
	border-right-width: thick;
}
.nav-icon{
  	width: 50px;
  	height: 50px;
  	background: #333333;
  	border-radius: 10%;
	position: relative;
	left: calc(50% - 25px);
	
	margin-top: 20px;
	
	display: none;
}
nav ul a li h4 {
	margin: 0;
	text-align: center;
	display: none;
	font-size: 8px;
}
.nav-icon p{
  	position: relative;
	display: block;
 	width: 50px;
  	height: 50px;
  	text-decoration: none;
	padding: 0;
	margin: 0;
	
}
.nav-icon p::before{
  font-family: FontAwesome;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.nav-icon .p_top::before {
	content: '\f015';
}
.nav-icon .p_about::before {
	content: '\f2b9';
}
.nav-icon .p_news::before {
	content: '\f1ea';
}
.nav-icon .p_achievements::before {
	content: '\f02d';
}
.nav-icon .p_contact::before {
	content: '\f0e0';
}
.hero_header {
	color: #000000;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 0px;
	letter-spacing: 0.2vw;
	line-height: 5.2vw;
	font-size: 5vw;
}
/* Hero Section */
.hero {
	background-color: #FFFFFF;/*#B3B3B3*/
	background-image: url(../images/top.png);
	background-size: 60% auto;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	min-height: 400px;
	display: flex;
}
.blank_box {
	width: 65%;
	height: 100%;
}
.hero_box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
	height: 100%;
}
.hero_inline_box {
	width: 100%;
}

.light {
	font-weight: bold;
	color: #2C9AB7;
}
.tagline {
	text-align: left;
	color: #000000;
	margin-top: 4px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0.1vw;
	font-size: 1.5vw;
}
.tagline_blue {
	color: #2C9AB7;
}
/* About Section */
.about {
	clear: both;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
	width: 96%;
	background-image: url(../images/myphoto.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.about_column-white {
	width: 100%;
	text-align: justify;
	background-color: rgba(255,255,255,0.7);
}
.about_column {
	width: calc((100% - 10%));
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	color: #000000;
}
.about_column h4{
	font-size: 30px;
}

/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	padding-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* news Section */
.news {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: auto;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.current-news {
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.news-description {
	color: #FFFFFF;
	text-align: right;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
	font-weight: lighter;
	line-height: 23px;
	
}
.news_table {
	width: 100%;
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
	text-align: justify;
}
.news_cell{
	vertical-align: top;
}
.news_cell a{
	text-decoration: none;
}
.news_cell a:link{
	color: #8CC2E7;
}
.news_cell a:visited{
	color: #E11247;
}
.news_cell a:hover{
	color: #000000;
}

.achievements {
	background-color: #FFFFFF;
	background-image: url(../images/parallax.png);
	height: auto;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	text-align: center;
}
.achievements-table{
	font-weight: normal;
	vertical-align: top;
}
.achievements-table a{
	text-decoration: none;
}
.achievements-table a:link{
	color: #2C9AB7;
}
.achievements-table a:visited{
	color: #E11247;
}
.achievements-table a:hover{
	color: #000000;
}
.publications {
	text-align: justify;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
	clear: both;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	object-fit: cover;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	display: inline-block;
	width: 200px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button2 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    transition: .4s;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	text-align: center;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/*button to top*/
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc((100% - 50px) / 2);
  bottom: 10px;
  background: #333333;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f015';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*button to contact*/
#contact_button{
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(((100% - 50px) / 2) + 100px);
  bottom: 10px;
  background: #333333;
  border-radius: 50%;
}
#contact_button a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#contact_button a::before{
  font-family: FontAwesome;
  content: '\f0e0';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*button to about*/
#about_button{
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(((100% - 50px) / 2) - 100px);
  bottom: 10px;
  background: #333333;
  border-radius: 50%;
}
#about_button a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#about_button a::before{
  font-family: FontAwesome;
  content: '\f2b9';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* Mobile */
@media (max-width: 420px) {
.content {
	padding: 0px 0;
	height: 100%;
}
.side {
	align-items: center;
  	justify-content: center;
  	width: 100%;
  	height: 100%;
  	color: #000000;
  	position: static;
	display: block;
	background-image: url(../images/myphoto.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.main {
	align-items: center;
  	justify-content: center;
	margin-left: 0px;
  	width: 100%;
}

.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logo_favicon {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logo_favicon img {
	height: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	height: auto;
	float: none;
	background: none;
}
header {
	height: 100%;
	background: none;
}
	.header-logo-div{
		width: 100%;
		position: static;
	}
	.nav-div{
		position: static;
	}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul a li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-left: 0;
	width: 25%;
	height: auto;
	text-align: center;
	float: left;
}
	
	ul a:hover li {
		border-right: none;
	}
	ul a.current li  {
		border-right: none;
	}
	.nav-icon{
  		display: block;
	}
	nav ul a li h4 {
		display: inline;
	}
	.nav-text{
		display: none;
	}
.hero {
	background-image: none;
	height: 50%;
	min-height: 300px;
	position: static;
}
.blank_box {
	display: none;
}
.hero_box {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.hero_header {
	letter-spacing: 0.2vw;
	line-height: 14.2vw;
	font-size: 14vw;
}
.tagline {
	margin-top: 20px;
	letter-spacing: 0.2vw;
	line-height: 5.2vw;
	font-size: 5vw;
}
.text_column {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
	.news {
		background-color: #2D9AB7;
		background-image: none;
	}
.current-news {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 24px;
}
.news-description {
	padding-top: 0px;
	padding-right: 5%;
	padding-bottom: 50px;
	padding-left: 5%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: none;
	text-align: center;
}
	.news_cell th, td {
		display: block;
		width: 100%;
	}
	
	.publications{
		padding-top: 50px;
		padding-right: 5%;
		padding-bottom: 50px;
		padding-left: 5%;
	}

}

/* Small Tablets */
@media (min-width: 420px)and (max-width: 800px) {
.content {
	display: inline;
  padding: 0px 0;
	height: 100%;
}

.main {
	display: inline;
  align-items: center;
  justify-content: center;
	margin-left: 0px;
  height: 100%;
	width: 100%;
}
.side {
	display: block;
  	align-items: center;
  	justify-content: center;
  	top: 0px;
  	width: 100%;
  	height: auto;
  	color: #000000;
  	background: #ffffff;
	position: static;
}
	.header-logo-div {
		position: static;
		height: auto;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.logo_favicon {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.logo_favicon img {
	height: 80%;
	width: auto;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
	.nav-div{
		height: auto;
		width: 100%;
		position: static;
	}
header {
	height: auto;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
	margin-left: 100px;
	width: calc(100% - 200px);
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 0;
}
	ul a:hover li {
		border-right: none;
		border-bottom: solid;
		border-bottom-color: #000000;
		border-bottom-width: thick;
	}
	ul a.current li  {
		border-right: none;
		border-bottom: solid;
		border-bottom-color: #000000;
		border-bottom-width: thick;
	}
.hero {
	background-image: none;
	height: 50%;
	min-height: 650px;
}
.blank_box {
	display: none;
}
.hero_box {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.hero_header {
	letter-spacing: 0.2vw;
	line-height: 14.2vw;
	font-size: 14vw;
}
.tagline {
	margin-top: 20px;
	letter-spacing: 0.2vw;
	line-height: 5.2vw;
	font-size: 5vw;
}
.text_column {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.news {
		background-color: #2D9AB7;
		background-image: none;
	}
.current-news {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 24px;
}
.news-description {
	padding-top: 0px;
	padding-right: 5%;
	padding-bottom: 50px;
	padding-left: 5%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: none;
	text-align: center;
}
	.news_cell th, td {
		display: block;
		width: 100%;
	}
	
	.publications{
		padding-top: 50px;
		padding-right: 5%;
		padding-bottom: 50px;
		padding-left: 5%;
	}
.footer_column {
	width: 100%;
}
}
