<div class="border_container">
  <h2 class="border_heading">BASIC INFO.</h2>
  <div id="about" class="">
    <h3>岩波翔也 / Shoya Iwanami, Ph.D.</h3>
    <p>学術研究員</p>
    <p>
      九州大学数理生物学研究室<br>
      <small>Mathematical biology laboratory, Kyushu University</small><br>
      九州大学大学院理学研究院生物科学部門<br>
      <small>Department of Biology, Faculty of Science, Kyushu University</small>
    </p>
    {% include orcid.html %}
    <a href="http://bio-math10.biology.kyushu-u.ac.jp/">九州大学数理生物学研究室ウェブサイト</a>
    <h3>EDUCATION</h3>
    <table>
      <tr>
        <th>2015.4</th>
        <td>九州大学数理生物学研究室配属</td>
      </tr>
      <tr>
        <th>2016.3</th>
        <td>九州大学理学部生物学科卒業</td>
      </tr>
      <tr>
        <th>2016.4</th>
        <td>九州大学大学院システム生命科学府入学</td>
      </tr>
      <tr>
        <th>2020.9</th>
        <td>九州大学大学院システム生命科学府５年一貫制博士課程修了（早期修了）<br>博士（理学）指導教官：岩見真吾准教授</td>
      </tr>
    </table>
    <h3>PROFESSIONAL EXPERIENCE</h3>
    <table>
      <tr>
        <th>2016.4-2020.9</th>
        <td>九州大学理学部ティーチング・アシスタント（数理生物学演習）</td>
      </tr>
      <tr>
        <th>2018.4-2019.3</th>
        <td>九州大学大学院システム生命科学府リサーチ・アシスタント</td>
      </tr>
      <tr>
        <th>2019.4-2020.9</th>
        <td>日本学術振興会特別研究員DC2（早期修了のため辞退）</td>
      </tr>
      <tr>
        <th>2020.9-</th>
        <td>九州大学大学院理学研究院生物科学部門学術研究員</td>
      </tr>
    </table>


  </div>
</div>
