<div class="border_container">
  <h2 class="border_heading">BASIC INFO.</h2>
  <div id="about" class="">
    <h5>岩波翔也 / Shoya Iwanami</h5>
    <p>
      一貫制博士課程5年<br>
      九州大学数理生物学研究室<br>
      Mathematical biology laboratory, Kyushu University<br>
      九州大学大学院システム生命科学府<br>
      Graduate School of Systems Life Sciences, Kyushu University
    </p>
    {% include orcid.html %}
    <h3>EDUCATION</h3>
    <table>
      <tr>
        <th>2015.4</th>
        <td>九州大学数理生物学研究室配属</td>
      </tr>
      <tr>
        <th>2016.3</th>
        <td>九州大学理学部生物学科卒業</td>
      </tr>
      <tr>
        <th>2016.4</th>
        <td>九州大学大学院システム生命科学府入学</td>
      </tr>
    </table>
    <h3>PROFESSIONAL EXPERIENCE</h3>
    <table>
      <tr>
        <th>2016.4-2020.3</th>
        <td>九州大学理学部ティーチング・アシスタント（数理生物学演習）</td>
      </tr>
      <tr>
        <th>2019.4-2021.3</th>
        <td>日本学術振興会特別研究員DC2</td>
      </tr>
    </table>


  </div>
</div>
