<div class="border_container">
  <h2 class="border_heading">BASIC INFO.</h2>
  <div id="about" class="">
    <h3>岩波翔也 / Shoya Iwanami, Ph.D.</h3>
    <p>助教</p>
    <p>
      名古屋大学大学院理学研究科生命理学専攻（異分野融合生物学講座）<br>
      <small><a href="https://iblab.bio.nagoya-u.ac.jp/">Interdisciplinary Biology Laboratory (iBLab)</a><br>Division of Biological Science, Graduate School of Science, Nagoya University</small>
    </p>
    {% include orcid.html %}
    <h3>EDUCATION</h3>
    <table>
      <tr>
        <th>2016.3</th>
        <td>九州大学理学部生物学科卒業</td>
      </tr>
      <tr>
        <th>2016.4</th>
        <td>九州大学大学院システム生命科学府入学</td>
      </tr>
      <tr>
        <th>2020.9</th>
        <td>九州大学大学院システム生命科学府５年一貫制博士課程修了（早期修了）<br>博士（理学）指導教官：岩見真吾准教授</td>
      </tr>
    </table>
    <h3>PROFESSIONAL EXPERIENCE</h3>
    <table>
      <tr>
        <th>2016.4 - 2020.9</th>
        <td>九州大学理学部・ティーチング・アシスタント（数理生物学演習）</td>
      </tr>
      <tr>
        <th>2018.4 - 2019.3</th>
        <td>九州大学大学院システム生命科学府・リサーチ・アシスタント</td>
      </tr>
      <tr>
        <th>2019.4 - 2020.9</th>
        <td>日本学術振興会・特別研究員DC2（早期修了のため辞退）</td>
      </tr>
      <tr>
        <th>2020.9 - 2021.3</th>
        <td>九州大学大学院理学研究院生物科学部門・学術研究員</td>
      </tr>
      <tr>
        <th>2020.12 - 2021.3</th>
        <td>九州大学大学院理学研究院生物科学部門・特任助教</td>
      </tr>
      <tr>
        <th>2021.4 -</th>
        <td>名古屋大学大学院理学研究科生命理学専攻・助教</td>
      </tr>
    </table>


  </div>
</div>
