<div class="border_container">
  <h2 class="border_heading">Footer</h2>
  <footer class="pb-0" id="contact">

    <div class="clearfix">
      <div class="column_50_md">
        <article class="footer_cards">
          <h3>MY INFO</h3>
          <img src="/images/myphoto.jpg" alt="" width="400" height="200" class="cards2"/>
          <p class="">九州大学大学院理学研究院生物科学部門特任助教 / 数理生物学研究室所属 / 連絡先: iwanamishoya[at]gmail.com ([at]を@に変えてください。) / 理論免疫学の研究を中心に行っています</p>
        </article>
      </div>
      <div class="column_50_md">
        <article class="footer_cards">
          <h3>LOCATION</h3>
          <img src="/images/kyushuuni.jpg" alt="" width="400" height="200" class="cards2"/>
          <p class="">更新まち......</p>
        </article>
      </div>
    </div>
    <h2 class="">リンク</h2>
    <p style="text-align: center;"><a href="/links">リンク集</a></p>

  </footer>
</div>

<!-- Footer Section -->


<!-- Copyrights Section -->
<div class="copyright2">
  <p>最終更新日：{{ "now" | date: "%Y年%-m月%d日" }}</p>
  &copy;2018-{{ "now" | date: "%Y" }} | <strong>Shoya Iwanami</strong>
</div>
