<footer id="contact">
  <article class="footer_column">
    <h3>MY INFO</h3>
    <img src="/images/myphoto.jpg" alt="" width="400" height="200" class="cards"/>
    <p>九州大学大学院システム生命科学府５年一貫制博士課程４年 / 数理生物学研究室所属 / 連絡先: iwanamishoya[at]gmail.com ([at]を@に変えてください。) / 理論免疫学の研究を中心に行っています</p>
  </article>
  <article class="footer_column">
    <h3>LOCATION</h3>
    <img src="/images/kyushuuni.jpg" alt="" width="400" height="200" class="cards"/>
    <p>福岡の西側自然豊かな糸島に位置する九州大学伊都キャンパスで研究活動を行なっています / 大学住所: 〒819-0395 福岡市西区元岡744 数理生物学研究室</p>
  </article>
</footer>
<!-- Footer Section -->
<section class="footer_banner">
  <h2 class="hidden">Footer Banner Section </h2>
  <div><h4 class="">理論免疫学ワークショップ</h4>
  <a href="https://workshop.theoreticalimmunology.jp" target="_blank" class="button">Theoretical Immunology Workshop</a></div>
  <div><h4 class="">English website</h4>
  <a href="https://en.shoyaiwanami.com" target="_blank" class="button">En.shoyaIWANAMI.com</a></div>
  <div><h4 class="">ブログ・備忘録</h4>
  <a href="https://memo.shoyaiwanami.com" target="_blank" class="button">AmebaOwnd</a></div>
  <div><h4 class="">Formar website</h4>
  <a href="https://shoyai.jimdo.com" target="_blank" class="button">Jimdo ver.</a></div>
</section>

<!-- Copyrights Section -->
<div class="copyright">
  <p>Last Updated; July 20<sup>th</sup>, 2019</p>
  &copy;2018 - <strong>Shoya Iwanami</strong>
</div>
