<footer>
  <div class="wrapper_half">
    <h3><a href="/">shoyaiwanami.com</a></h3>
    
    <div class="footer_container">
      <div class="footer_item">
        {% for items in site.data.nav %}
        <p><a href="{{ items.url }}">{{ items.name }}</a></p>
        {% endfor %}
      </div>
      
      <div class="footer_item">
        <h4>Bookmarks</h4>
        {% for items in site.data.bookmarks %}
        <p><a href="{{ items.url }}">{{ items.name }}</a></p>
        {% endfor %}
      </div>
      
      <div class="footer_item">
        <h4>Web data base</h4>
        {% for items in site.data.links[3].links %}
        <p><a href="{{ items.url }}"{% if page.url == items.url %} class="active"{% endif %}>{{ items.name }}</a></p>
        {% endfor %}
      </div>
      
      <div class="footer_item footer_info">
        <h4>{{ site.organizer }}</h4>
        <p>{{ site.affiliation }}</p>
        <p><a href="{{ site.laboratory.url }}">{{ site.laboratory.name_jp }}</a></p>
        <p>{{ site.email }}</p>
        <p class="footer_sns">
          {% for items in site.data.sns_footer %}
          <a href="{{ items.url }}">{{ items.icon }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
    
    <!-- Copyrights Section -->
    <hr>
    <div class="copyright">
      <p>Copyright &copy; {{ "now" | date: "%Y" }} Shoya Iwanami All rights reserved. Latest update: {{ "now" | date: "%Y-%m-%d" }} </p>
    </div>
  </div>
</footer>
<!-- Footer Section -->
