<div class="border_container">
  <h2 class="border_heading">Footer</h2>
  <footer class="pb-0" id="contact">

    <div class="clearfix">
      <div class="column_50_md">
        <article class="footer_cards">
          <h3>MY INFO</h3>
          <img src="/images/myphoto.jpg" alt="" width="400" height="200" class="cards2"/>
          <p class="">九州大学大学院システム生命科学府５年一貫制博士課程４年 / 数理生物学研究室所属 / 連絡先: iwanamishoya[at]gmail.com ([at]を@に変えてください。) / 理論免疫学の研究を中心に行っています</p>
        </article>
      </div>
      <div class="column_50_md">
        <article class="footer_cards">
          <h3>LOCATION</h3>
          <img src="/images/kyushuuni.jpg" alt="" width="400" height="200" class="cards2"/>
          <p class="">福岡の西側自然豊かな糸島に位置する九州大学伊都キャンパスで研究活動を行なっています / 大学住所: 〒819-0395 福岡市西区元岡744 数理生物学研究室</p>
        </article>
      </div>
    </div>
    <h2 class="">リンク</h2>
    <div class="clearfix">
      <div class="column_50_lg">
        <div class="column_50_sm">
          <div><h4 class="">理論免疫学ワークショップ</h4>
          <a href="https://workshop.theoreticalimmunology.jp" target="_blank" class="">Theoretical Immunology Workshop</a></div>
        </div>
        <div class="column_50_sm">
          <div><h4 class="">English website</h4>
          <a href="https://en.shoyaiwanami.com" target="_blank" class="">En .shoyaIWANAMI .com</a></div>
        </div>
      </div>
      <div class="column_50_lg">
        <div class="column_50_sm">
          <div><h4 class="">ノート</h4>
          <a href="https://note.shoyaiwanami.com" target="_blank" class="">NOTE .shoyaiwanami .com</a></div>
        </div>
        <div class="column_50_sm">
          <div><h4 class="">ブログ・備忘録</h4>
          <a href="https://memo.shoyaiwanami.com" target="_blank" class="">AmebaOwnd</a></div>
        </div>
      </div>
    </div>

  </footer>
</div>

<!-- Footer Section -->


<!-- Copyrights Section -->
<div class="copyright2">
  <p>最終更新日：2019年9月25日</p>
  &copy;2018-2020 | <strong>Shoya Iwanami</strong>
</div>
