<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      {% if page.next %}
      <a href="{{ page.next.url }}">
        <p class="m-0">< 次の投稿</p>
        <h4 class="m-0">{{ page.next.title }}</h4>
        <p class="text-dark">{{ page.next.description }}</p>
      </a>
      {% else %}
      <a href="{{ site.url }}">
        <p class="m-0">最新記事です！</p>
        <h4 class="m-0">サイトトップへ</h4>
      </a>
      {% endif %}
    </div>
    <div class="col-md-6">
      {% if page.previous %}
      <a href="{{ page.previous.url }}">
        <p class="m-0">前の投稿 ></p>
        <h4 class="m-0">{{ page.previous.title }}</h4>
        <p class="text-dark">{{ page.previous.description }}</p>
      </a>
      {% else %}
      <a href="{{ site.url }}">
        <p class="m-0">最後の記事です！</p>
        <h4 class="m-0">サイトトップへ</h4>
      </a>
      {% endif %}
    </div>
  </div>
</div>
