<section class="" id="achievements">
  <div class="head-border">
    <h2 class="">Recent publications</h2>
  </div>
  
  <div class="wrapper_half">
    {% for article in site.data.articles limit:4 %}
    <p>
    {% if article.title %}
    {{ article.title }}<br>
    {% endif %}
    {% if article.journal %}
    <strong><i>{{ article.journal }}</i></strong>
    {% endif %}
    {% if article.year %}
    ({{ article.year }})<br>
    {% endif %}
    {% if article.doi %}
    DOI: <a href="{{ article.url }}" target="_blank">{{ article.doi }}</a>
    {% endif %}
    </p>
    {% endfor %}
    <p style="text-align: center;"><a href="/achievements">- Achievements -</a></p>
  </div>
  
</section>
