<div class="border_container">
  <h2 class="border_heading">News</h2>
  <section class="" id="news">

    <div class="news-description2">
      <h3>お知らせ</h3>
      {% if site.tags.nextevent %}
      {% for post in site.tags.nextevent limit:10 %}
      <div class="news_image_box">
        <a href="{{ post.url }}">
          <img class="" src="{% if post.image %}{{ post.image }}{% else %}/images/top.png{% endif %}" alt="{{ post.title }}">
        </a>
      </div>
      <p class=""><strong>{{ post.title }}</strong></p>
      <p>{{ post.description }}</p>
      <a class="" href="{{ post.url }}" role="button">詳細</a>
      {% endfor %}
      {% else %}
      <p>現在お知らせはありません。</p>
      {% endif %}
    </div>

    <div class="news-description2">
      <h3>新着情報</h3>
      <table class="news_table">
        {% for post in site.categories.news limit:5 %}
        <tr class="news_cell">
          <th>{{ post.date | date: "%Y.%m.%d" }}</th>
          <td>{% if post.categories[1] %}<a href="/{{ post.categories[1] }}/"><strong>[{{ post.categories[1] }}] </strong></a>{% endif %}{{ post.description }}<a href="{{ post.url }}"> [詳細]</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/news">- 過去の新着情報 -</a></p>
    </div>
  </section>

</div>
