<div class="container-fluid bg-white text-center pt-5 pb-5">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <p>6</p>
      <div class="" style="height: 100px; line-height: 100px;">
        <h3 class="d-inline-block align-middle mt-0 mb-0" style="">Publications</h3>
      </div>
      <p>英語/日本語学術論文・総説</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <p>26</p>
      <div class="" style="height: 100px; line-height: 100px;">
        <h3 class="d-inline-block align-middle mt-0 mb-0" style="">Presentations</h3>
      </div>
      <p>国際/国内学術会議での発表</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <p>1</p>
      <div class="" style="height: 100px; line-height: 100px;">
        <h3 class="d-inline-block align-middle mt-0 mb-0" style="">Competitive research funds</h3>
      </div>
      <p>現在/過去の競争的獲得資金</p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <p>2</p>
      <div class="" style="height: 100px; line-height: 100px;">
        <h3 class="d-inline-block align-middle mt-0 mb-0" style="">Workshop and Symposium</h3>
      </div>
      <p>ワークショップやシンポジウムの開催</p>
    </div>
  </div>
</div>
