<div class="border_container">
  <h2 class="border_heading">Stats</h2>
  <div class="clearfix">
    <div class="column_50_lg">
      <div class="clearfix">
        <div class="column_50_sm">
          {% assign stats_pub_article = site.data.articles | size %}
          {% assign stats_pub_jparticle = site.data.jparticles | size %}
          {% assign stats_pub_review = site.data.reviews | size %}
          <div class="stats_heading">
            <div class="">
              <p>{{ stats_pub_article | plus: stats_pub_jparticle | plus: stats_pub_review }}</p>
              <h3>Publications</h3>
            </div>
          </div>
          <p class="stats_description">英語/日本語学術論文・総説</p>
        </div>
        <div class="column_50_sm">
          {% assign stats_presen_international = site.data.presentations.international | size %}
          {% assign stats_presen_domestic = site.data.presentations.domestic | size %}
          <div class="stats_heading">
            <div class="">
              <p>{{ stats_presen_international | plus: stats_presen_domestic }}</p>
              <h3>Presentations</h3>
            </div>
          </div>
          <p class="stats_description">国際/国内学術会議での発表</p>
        </div>
      </div>
    </div>
    <div class="column_50_lg">
      <div class="clearfix">
        <div class="column_50_sm">
          {% assign stats_grant = site.data.grants | size %}
          <div class="stats_heading">
            <div class="">
              <p>{{ stats_grant }}</p>
              <h3>Competitive research funds</h3>
            </div>
          </div>
          <p class="stats_description">現在/過去の競争的獲得資金</p>
        </div>
        <div class="column_50_sm">
          {% assign stats_event = site.data.events | size %}
          <div class="stats_heading">
            <div class="">
              <p>{{ stats_event }}</p>
              <h3>Workshop and Symposium</h3>
            </div>
          </div>
          <p class="stats_description">ワークショップやシンポジウムの開催</p>
        </div>
      </div>
    </div>
  </div>
</div>
