---
layout: main
---


<div id="top" class="toppage_top2">
	<div class="toppage_head2">
		<h3 class="" style="">ShoyaIWANAMI.com</h3>
		<h2>Welcome to Shoya Iwanami's web page</h2>
		<p>A researcher of Mathematical Biology</p>
	</div>
</div>

{{ content }}


<!-- footer -->
{% include footer2.html %}
<!-- footer -->

<div style="height: 150px"></div>
<div id="page_top"><a href="#"></a></div>
<div id="about_button"><a href="#about"></a></div>
<div id="contact_button"><a href="#contact"></a></div>
