---
layout: main
---

<div class="fixed-top bg-white d-table-cell align-middle nav_container">
	{% include nav-home.html %}
</div>

<div id="top" class="container-fluid vh-100 text-dark bg-white toppage_top">
	<div class="row">
		<div class="offset-lg-7">
			<!-- デスクトップ以上で≥768px空白、それ以外非表示 -->
		</div>
		<div class="col-lg-5">
			<div class="d-table-cell vh-100 align-middle">
				<div class="toppage_head">
					<h3 class="mt-0 mb-0" style="">ShoyaIWANAMI.com</h3>
					<h2>Welcome to Shoya Iwanami's web page</h2>
					<p>A researcher of Mathematical Biology</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="two-col-container">

	{{ content }}


	<!-- footer -->
	{% include footer.html %}
	<!-- footer -->
</div>
