<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <!--
  	<div id="loader-bg">
  		<div id="loader">
  			<img src="/img/img-loading-3.png" width="50" height="50" alt="Now Loading..." /><br>
  			<img src="/img/img-loading.gif" width="200" height="200" alt="Now Loading..." />
  			<p>Now Loading...</p>
  		</div>
  	</div>
  -->
  	<div class="container-original">

  		<!-- side div -->
  		<div class="side">
  			<!-- Navigation -->
    			<header class="">
  				<div class="header-logo-div">
  					<div class="logo_favicon">
  	  					<a href="/"><img src="/favicon.png" alt="Shoya Iwanami" /></a>
  					</div>
  					<a href="/"><h4 class="logo-original">ShoyaIWANAMI.com</h4></a>
  				</div>
  				<div class="nav-div">
  					<nav>
        					<ul>
          					<a href="/#hero">
  								<li>
  									<div class="nav-icon"><p class="p_top"></p></div>
  									<h4>TOP</h4>
  									<div class="nav-text">TOP<br><span class="nav-list-smalltext">トップ</span></div>
  								</li>
  							</a>
  							<a href="/#about">
  								<li>
  									<div class="nav-icon"><p class="p_about"></p></div>
  									<h4>ABOUT</h4>
  									<div class="nav-text">ABOUT<br><span class="nav-list-smalltext">来歴</span></div>
  								</li>
  							</a>
  							<a href="/#news">
  								<li>
  									<div class="nav-icon"><p class="p_news"></p></div>
  									<h4>NEWS</h4>
  									<div class="nav-text">NEWS<br><span class="nav-list-smalltext">新着情報</span></div>
  								</li>
  							</a>
  							<a href="/#achievements">
  								<li>
  									<div class="nav-icon"><p class="p_achievements"></p></div>
  									<h4>ACHIEVEMENTS</h4>
  									<div class="nav-text">ACHIEVEMENTS<br><span class="nav-list-smalltext">業績など</span></div>
  								</li>
  							</a>
  							<a href="/#contact">
  								<li>
  									<div class="nav-icon"><p class="p_contact"></p></div>
  									<h4>CONTACT</h4>
  									<div class="nav-text">CONTACT<br><span class="nav-list-smalltext">連絡先・リンク</span></div>
  								</li>
  							</a>
        					</ul>
      				</nav>
  				</div>
    			</header>
  		</div><!-- //side div -->

  		<!-- main div -->
  		<div class="main">


  			<div class="achievements" id="achievements">
  				<div class="publications">
  					{{ content }}
  				</div>
  			</div>
  				<!-- More Info Section -->
          {% include footer.html %}
  		</div>

  		<div style="height: 150px"></div>
  		<div id="page_top"><a href="/#"></a></div>
  		<div id="about_button"><a href="/#about"></a></div>
  		<div id="contact_button"><a href="/#contact"></a></div>

  	</div>
  	<!-- Main Container -->

  <!-- Main Container Ends -->
  </body>
</html>
